<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hui</title>
    </head>
    <body>
        <h1>Hi there!</h1>

        <br>

        <h3>City: {{ city }}</h3>
        <h3>Temperature: {{ temp }} °C (rn)</h3>
        <h3>Wind speed: {{ wndspd }} mps (rn)</h3>

        <br>

        <form method="post">
            <input type="search" name="city" placeholder="Enter city name">
            <button type="submit">Search</button>
        </form>    
    </body>
</html>