<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hui</title>
    </head>
    <body>
        <h1>Hi there!</h1>

        <br>

        <h3>City: {{ city }}</h3>

        <form method="post">
            <input type="search" name="city" placeholder="Enter city name">
            <button type="submit">Search</button>
        </form>    

        <br>

        <div class="container">
            <table>
                <h3>Temperature: 
                    {% for i in range(10) %}
                        <tr><td>{{ temp }} °C</td></tr>
                        <tr><td>{{ wndspd }} mps</td></tr>
                    {% endfor %}
                </h3>
            </table>
        </div>
    </body>
</html>